/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Inter, Arial, sans-serif; */
}


/* Body background (very important) */
body {
  /* display: flex; */
  /* justify-content: center; */
  background: #F2F8F3; /* light grey/purple tint like Cardify */
}

/* Header */
.header {
  width: 100%;
  padding: 16px 0;
  /* background: #ffffff; */
  /* border-bottom: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
}


header.header {
  padding: calc(var(--gap-x-s) * 0.4) var(--gap-x-s);
}

/* Logo */
.logo img {
  width: 150px;
}

/* Nav */
.nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.25s ease;
}

.nav a:hover {
  color: #111827; /* darker on hover */
}

/* CTA */
.cta {
  display: flex;
  align-items: center;
  gap: 12px;
  /* background-color: red; */
  font-size: 14px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 8px;
  text-decoration: none ;
}

.btn1 {
    border: 1px solid black;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 8px;
    color: #111827;
}

.btn2 {
    border: 1px solid black;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #111827;
    font-weight: 500;
}

/* HERO-SECTION  */

/* Hero Section */
.hero {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* Layout */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Text */
.hero-text {
    max-width: 350px;
}

/* Badge */
.badge {
  display: inline-block;
  background: #ede9fe;
  color: #7c3aed;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Heading */
.hero-text h1 {
  font-size: 50px;
  font-weight: 550;
  line-height: 1.1;
  letter-spacing: -1.5px;
  color: #111827;
  margin-bottom: 20px;
}

.hero-text h1 span {
    color: #22c55e;
}

/* Paragraph */
.hero-text p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.6;
  color: black;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.hero-buttons img {
    height: 45px;
    width: auto;
    cursor: pointer;

}

.store-btn {
    display: inline-block;
    /* border-radius: 8px; */
    /* overflow: hidden; */
}

.store-btn {
    border-radius: 12px;
    overflow: hidden;
}
/* Primary button
.btn.primary {
  background: #7c3aed;
  color: #fff;
} */

/* .btn.primary:hover {
  background: #6d28d9;
} */

/* Secondary button */


/* .btn.secondary:hover {
  background: #e5e7eb;
} */

/* Image */
.hero-image {
    /* border: 4px solid ; */
    flex: 1;
    text-align: right;
}
.hero-image img {
  width: 100%;
  max-width: 500px;
}

.tribe-section {
  padding: 100px 20px;
  background: #f6f7f9;
  text-align: center;
}


/* SHARED STYLES */

section.short-story,
section.our-mission {
    padding: var(--gap-s) calc(var(--gap-l) * 0.75);
    display: flex;
    justify-content: center;
    gap: var(--gap-m);
    background-color: var(--bg-primary);
}

section.our-mission .our-mission-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

section.our-mission .our-mission-first p {
    font-size: 2.6rem;
    font-weight: bolder;
    margin-right: 0.8rem;
}

section.our-mission .our-mission-second {
    min-width: clamp(10rem, 28rem, 95vw);
    position: relative;
    min-height: 30rem;
}

section.our-mission .our-mission-second .grid-underlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

section.our-mission .our-mission-second .grid-float {
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
}

section.our-mission .our-mission-second .grid-float:nth-child(1) {
    top: -1rem;
    right: 35%;
    transform: scale(1.6);
}

section.our-mission .our-mission-second .grid-float:nth-child(2) {
    right: -2.2rem;
    top: -5%;
}

section.our-mission .our-mission-second .grid-float:nth-child(3) {
    top: 40%;
    left: 0;
}

section.our-mission .our-mission-second .grid-float:nth-child(4) {
    bottom: 12%;
    right: 45%;
}

.our-mission-second .our-mission-image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 6rem);
    grid-template-areas:
    "a b c"
    "a d c"
    ". d e"
    ". f g"
    ". . g";
    grid-gap: 0.6rem;
    width: 100%;
    height: max-content;
}

.our-mission-second .our-mission-image-grid .our-mission-grid-image {
    border-radius: 0.8rem;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    transition: all .2s linear;
}

.our-mission-second .our-mission-image-grid .our-mission-grid-image:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 8px #3e3e3e7b;
    z-index: 2;
}

.our-mission-second .our-mission-image-grid:hover .our-mission-grid-image:not(:hover) {
    filter: blur(2px);
}

.our-mission-second .our-mission-image-grid .image-1 {
    grid-area: a;
    background-image: url(/images/about/imgi_15_image-1.png);
}

.our-mission-second .our-mission-image-grid .image-2 {
    grid-area: b;
    background-image: url(/images/about/imgi_16_image-2.png);
}

.our-mission-second .our-mission-image-grid .image-3 {
    grid-area: c;
    background-image: url(/images/about/imgi_17_image-3.png);
}

.our-mission-second .our-mission-image-grid .image-4 {
    grid-area: d;
    background-image: url(/images/about/imgi_18_image-4.png);
}

.our-mission-second .our-mission-image-grid .image-5 {
    grid-area: e;
    background-image: url(/images/about/imgi_19_image-5.png);
}

.our-mission-second .our-mission-image-grid .image-6 {
    grid-area: f;
    background-image: url(/images/about/imgi_20_image-6.png);
}

.our-mission-second .our-mission-image-grid .image-7 {
    grid-area: g;
    background-image: url(/images/about/imgi_21_image-7.png);
}